.App {
    font-size: 22px;
    line-height: 24px;
    padding-left: 8px;
    position: relative;
    top: -1.5px;
    vertical-align: middle;
    opacity: .54;
    background-color: rgb(253, 207, 232);
}

.AddBox {

    text-align: center;
}